{% extends "base.html" %}

{% block content %}

  {% if form.errors %}
    <p style="text-align: center; font-weight: bolder; font-size: large;">Your username and password didn't match. Please try again.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p style="text-align: center; font-weight: bolder;font-size: large;">Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p style="text-align: center; font-weight: bolder;font-size: large;">Please login to see this page.</p>
    {% endif %}
  {% endif %}
 
  <form method="post" action="{% url 'login' %}"  >
    {% csrf_token %}
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem; background-color: #C2DEDC;" >
            <div class="card-body p-5 text-center">
  
              <h1 class="mb-5" style="font-weight: bolder;">Login</h1>
  <hr>
       
          <br>
          <div class="form-outline mb-4">
          <div  class="form-control-lg">
            <div class="">
              {{ form.username.label_tag }}
              {{ form.username }}
            </div>
          </div>
            </div>
            <div class="form-outline mb-4">
              <div class="form-control-lg">
              <div class="form-label">
                {{ form.password.label_tag }}
                {{ form.password }}
              </div>
            </div>
          </div>
          </div>
    
    <input type="submit" value="login" class="btn btn-primary" style="background-color: #116A7B;font-size: 23px;">
    <p style="background-color: #C2DEDC;height: 40px;text-align: center; padding: 10px; font-size: large; font-weight: bold;"><a href="{% url 'signup' %}" style="color: black">Sign_up</a></p>

  
    <input type="hidden" name="next" value="{{ next }}" >
      <p style="background-color: #C2DEDC;height: 40px;text-align: center; font-weight: bolder;" padding: 10px;"><a href="{% url 'password_reset' %}" style="color: black">Lost password?</a></p>

  </div>
</div>
</div>
</div>
</div>
  </form>

{% endblock %}