{% extends 'base.html' %}

{% block content %}

        <div class="jumbotron text-center" style="background-color: #41729F;">
            <h1 style="color:white; font-family: Lato, sans-serif, Montserrat, sans-serif;">Damage Detection Sheet</h1>
        </div>
            <hr>
            <form method="post" style="padding-left: 300px;">
                {% csrf_token %}
                <br>
                <div class='row'>
                    <div class="col-8">
                        {{form.Devicess.label_tag}}
                        {{form.Devicess}}
                    </div>
                </div>
                <br>
                <div class='row'>
                    <div class="col-8">
                        {{form.damage_date.label_tag}}
                        {{form.damage_date}}
                    </div>
                </div>
                <br>
                <div class='row'>
                    <div class="col-8">
                        {{form.damage_reason.label_tag}}
                        {{form.damage_reason}}
                    </div>
                </div>
                <br>
                <div class='row'>
                    <div class="col-8">
                        {{form.report_date.label_tag}}
                        {{form.report_date}}
                    </div>
                </div>
                <br>
                <div class='row'>
                    <div class="col-8">
                        {{form.check_notes.label_tag}}
                        {{form.check_notes}}
                    </div>
                </div>
                <br>
                <div class='row'>
                    <div class="col-8">
                        {{form.Examination_officer_name.label_tag}}
                        {{form.Examination_officer_name}}
                    </div>
                </div>
                <br>
                <div class='row'>
                    <div class="col-8">
                        {{form.nurse_name.label_tag}}
                        {{form.nurse_name}}
                    </div>
                </div>
                <br>
                <input type="submit" value="submit" class="btn btn-primary">
            </form>

{% endblock %}