{% extends 'base.html' %}

{% block content %}
  
    <header class="w3-container w3-blue-grey w3-center" style="padding:128px 16px">
        <h1 class="w3-margin w3-jumbo">Welcome to our center</h1>
        <p class="w3-xlarge">Choose what you want to do</p>
        <a href="{% url 'therapist' %}">
            <button class="w3-button w3-black w3-padding-large w3-large w3-margin-top">Add Therapist</button>
        </a>
        <a href="{% url 'patient' %}">
            <button class="w3-button w3-black w3-padding-large w3-large w3-margin-top w3-margin-left">Add Patient</button>
        </a>
    </header>
    
{% endblock %}
