{% extends 'base.html' %}

{% block content %}
   
    {% if searched %}
      <h1 align="center">you searched for {{searched}}</h1>
        <br/>
        {% for pt in Patient %}
          <a href="{% url 'patient-detail' pt.Id %}">
            <ol class="list-group list-group-horizontal">
            <li class="list-group-item" style="margin:10px;font-size:30px;font-family: Arial, Helvetica, sans-serif;">   {{ pt }}   {{pt.last_name}}</li>
        </ol></a> 
        {% endfor %}
    {% else %}
        <h1>Hey!! you forget to search</h1>

{% endif %}
     
{% endblock %}